<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Vila Miisa Pizzaria</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/telaPizzas.css" />
  <script src="../js/telaPizzas.js"></script>

  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="canonical" href="../views/index.html">

  <link rel="apple-touch-icon" href="imagens/pmv-512x512.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Vila Miisa Pizzaria">
</head>

<body>
  <header class="headerBar primario">
    
    <nav class="navegacao">
      <div class="buttonGroup1">
        <button id="btnVoltar" class="button terciario" onclick="mudaPagina('telaMenu.html')">
          <img src="../img/setaVoltar.png" />
        </button>
    </nav>
    </div>
    
    <div class="appTela">Pizzas</div>

      <div class="buttonGroup1">
        <button id="btnVoltar" class="button terciario" onclick="mudaPagina('telaPedidos.html')">
          <img src="../img/setaIr.jpg" />
        </button>

    <!-- <div class="badge">3</div> -->
  </header>

    <div class="conteinerLista">
      <table id="listaDePedidos">
        <tr>
          <div class="listaPedidos">

            <div>PIZZA Nº 1 </div>

            <div >
              <button id="btnAll" class="buttonAll">
                <img src="../img/plus0.png" />
              </button>
              <span id="valorItensP1">1</span>
              <button id="btnAll" class="buttonAll">
                <img src="../img/plus1.png" />
              </button>
            </div>

          </div>
        </tr>

        <tr>
          <div class="listaPedidos">

            <div>PIZZA Nº 2</div>

            <div>
              <button id="btnAll" class="buttonAll">
                <img src="../img/plus0.png" />
              </button>
              <span id="valorItensP2">1</span>
              <button id="btnAll" class="buttonAll">
                <img src="../img/plus1.png" />
              </button>
            </div>
          </div>
        </tr>
        <tr>

  </div>

  </div>



</body>

</html>