<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Vila Miisa Pizzaria</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/telaCategorias.css" />
    <script src="../js/telaCategorias.js"></script>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="canonical" href="../views/index.html">

    <link rel="apple-touch-icon" href="imagens/pmv-512x512.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Vila Miisa Pizzaria">
  </head>
  <body>
      <header class="headerBar primario">
        <nav class="navegacao">
          <div class="buttonGroup1">
            <button id="btnVoltar" class="button terciario" onclick="mudaPagina('telaMenu.html')">
              <img src="../img/setaVoltar.png" />
            </button>
        </nav>
        </div>
        <div class="appTela">Categorias</div>
      
      </header>

        <div >
          <button id="btnInserirNovoPedido" class="buttonGroup2 terciario" onclick="mudaPagina('telaPizzas.html')">Pizzas</button>
        </div>

        <div >
          <button id="btnInserirNovoPedido" class="buttonGroup3 terciario" onclick="mudaPagina('telaEntregas.html')">Bebidas</button>
        </div>

        <div >
          <button id="btnInserirNovoPedido" class="buttonGroup4 terciario" onclick="mudaPagina('telaEntregas.html')">Promoções/Combos</button>
        </div>

        <script type="text/javascript" src="/js/serviceworkerstarter.js"></script>
  </body>
</html>
